<main>
    <header><img src="/icons/pollapp-logo.svg" alt="logo"></header>
    <section class="hero-section">
        <div class="hero-left">
            <h1>Collect Feedback, Unlock Ideas</h1>
            <p class="hero-txt">Create and share surveys in minutes – from team events to workplace culture. Collect
                opinions, engage
                your audience, and turn feedback into action.</p>
            <button class="new-survey" routerLink="/polls/create">
                <span>New survey</span>
                <img src="/icons/add_circle_purple.svg" alt="" class="survey-icon">
            </button>
        </div>
        <div class="hero-right">
            <img src="/images/phone-img.png" alt="Phone Screenshot" class="hero-image">
        </div>
    </section>
    <section class="main-container">
        <h1 class="main-title">Your surveys</h1>
    </section>
    <section class="ending-soon">
        <h2>Ending soon surveys</h2>
        <div class="cards">
            @for (poll of endingSoonPolls; track poll.id) {
            <button [routerLink]="['/polls', poll.id]">
                <div>
                    <p class="category">{{ poll.category }}</p>
                    <p class="title">{{ poll.title }}</p>
                </div>
                <p class="badge">{{ poll.badge }}</p>
            </button>
            }
        </div>
    </section>

    <nav class="filter-row">
        <ul>
            <button [class.active]="activeTab === 'active'" (click)="setActiveTab('active')">Active survey</button>
            <button [class.active]="activeTab === 'inactive'" (click)="setActiveTab('inactive')">Past survey</button>
        </ul>
        <div class="dropdown-wrapper">
            <button class="sort" (click)="toggleDropdown($event)">
                Sort by categories
                <img [src]="isDropdownOpen ? '/icons/drop_down.svg' : '/icons/arrow_drop_down.svg'" alt="drop Down">
            </button>
            @if (isDropdownOpen) {
            <div class="dropdown-menu">
                <ul>
                    @for (category of categories; track category) {
                    <li (click)="selectCategory(category, $event)"
                        [class.active-category]="category === selectedCategory">
                        {{ category }}
                    </li>
                    }
                </ul>
            </div>
            }
            @if (selectedCategory && selectedCategory !== 'All Surveys') {
            <div class="selected-category-badge">
                <span>{{ selectedCategory }}</span>
                <span class="remove-category" (click)="selectCategory('All Surveys', $event)"
                    title="Filter zurücksetzen"></span>
            </div>
            }
        </div>
    </nav>

    <section class="grid">
        @for (poll of filteredGridPolls; track poll.id) {
        <button [routerLink]="['/polls', poll.id]">
            <p class="category">{{ poll.category }}</p>
            <p class="title">{{ poll.title }}</p>
            <p class="badge">{{ poll.badge }}</p>
        </button>
        }
    </section>
    <footer></footer>
</main>