<main>
    <header><img src="/icons/pollapp-logo.svg" alt="logo"></header>
    <section class="hero-section">
        <div class="hero-left">
            <h1>Collect Feedback, Unlock Ideas</h1>
            <p class="hero-txt">Create and share surveys in minutes – from team events to workplace culture. Collect
                opinions, engage
                your audience, and turn feedback into action.</p>
            <button class="new-survey">New survey</button>
        </div>

        <div class="hero-right">
            <img src="/images/phone-img.png" alt="Phone Screenshot" class="hero-image">
        </div>
    </section>
    <section></section>
    <section></section>
</main>