@import url('https://fonts.googleapis.com/css2?family=Nerko+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Mulish:wght@300;400;600;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Almarai:wght@300;400;700;800&family=Bangers&family=Economica:ital,wght@0,400;0,700;1,400;1,700&family=Fredoka:wght@300..700&family=Gidole&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Mulish:ital,wght@0,200..1000;1,200..1000&family=Nerko+One&family=Nokora:wght@100..900&family=Noto+Sans:ital,wght@0,100..900;1,100..900&family=Open+Sans:ital,wght@0,300..800;1,300..800&family=PT+Sans:ital,wght@0,400;0,700;1,400;1,700&family=Raleway:ital,wght@0,100..900;1,100..900&family=Red+Rose:wght@300..700&family=Roboto:ital,wght@0,100..900;1,100..900&family=Viga&display=swap');
$primary-purple: #35273A;
$primary-orange: #FEB770;
$secondary-orange: #FFCFA1;
$bg-card: #FAF5FF;

:root {
  --primary-purple: #{$primary-purple};
  --primary-orange: #{$primary-orange};
  --secondary-orange: #{$secondary-orange};
  --bg-card: #{$bg-card};
}

h1 {
  font-family: 'Nerko One', regular;
  font-weight: 400;
}

body {
  margin: 0;
  padding: 0;
}

header {
  margin: 20px;
}

button {
  font-size: 16px;
  border: none;
  font-family: 'mulish';
  cursor: pointer;
}