@font-face {
  font-family: 'Nerko One';
  src: url('/pollapp/fonts/Nerko_One/NerkoOne-Regular.ttf') format('truetype');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Mulish';
  src: url('/pollapp/fonts/Mulish/Mulish-VariableFont_wght.ttf') format('truetype-variations'),
    url('/pollapp/fonts/Mulish/static/Mulish-Regular.ttf') format('truetype');
  font-weight: 200 1000;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Mulish';
  src: url('/pollapp/fonts/Mulish/Mulish-Italic-VariableFont_wght.ttf') format('truetype-variations'),
    url('/pollapp/fonts/Mulish/static/Mulish-Italic.ttf') format('truetype');
  font-weight: 200 1000;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: 'mulish';
  src: url('/pollapp/fonts/Mulish/Mulish-VariableFont_wght.ttf') format('truetype-variations'),
    url('/pollapp/fonts/Mulish/static/Mulish-Regular.ttf') format('truetype');
  font-weight: 200 1000;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'mulish';
  src: url('/pollapp/fonts/Mulish/Mulish-Italic-VariableFont_wght.ttf') format('truetype-variations'),
    url('/pollapp/fonts/Mulish/static/Mulish-Italic.ttf') format('truetype');
  font-weight: 200 1000;
  font-style: italic;
  font-display: swap;
}

$primary-purple: #35273A;
$primary-orange: #FEB770;
$secondary-orange: #FFCFA1;

$bg-card: #FAF5FF;

:root {
  --primary-purple: #{$primary-purple};
  --primary-orange: #{$primary-orange};
  --secondary-orange: #{$secondary-orange};
  --bg-card: #{$bg-card};
}

h1 {
  font-family: 'Nerko One', regular;
  font-weight: 400;
}

html, body {
  margin: 0;
  padding: 0;
  overflow-x: hidden;
}

header {
  margin: 20px;
}

button {
  font-size: 16px;
  border: none;
  font-family: 'mulish';
  cursor: pointer;
}